<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d37ec6b2-c824-4bed-ac66-69801c5e7b27" name="TestSuite 3" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="d37ec6b2-c824-4bed-ac66-69801c5e7b27fileName">TestSuite-3</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>